/*Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 320px) {
    .scheduler-top{margin-left: 33% !important;}
    .dhx_cal_navline div{}
    .dhx_cal_navline{}
    .dhx_cal_date{}
    .dhx_cal_tab{}
    .day_tab{}
     .dhx_cal_tab_first{
    left: 0px !important;
    width: 30px !important;
    font-size: 10px !important;
}
    .dhx_cal_tab_last{
    width: 30px !important;
    left: 61px !important;
    font-size: 10px !important;
}
    .week_tab{
    right: auto !important;
    left: 30px !important;
    width: 30px !important;
    font-size: 10px !important;
}
 .dhx_cal_date{font-size: 12px !important;word-spacing: 0px !important;width: 100% !important;}
.dhx_cal_today_button{
    width: 33px !important;
    left: 160px;
    font-size: 10px !important;
}
.dhx_cal_prev_button{
    width: 20px !important;
    left: 197px;
}
.dhx_cal_next_button{
    width: 20px !important;
    left: 218px;
}

}

@media (min-width: 321px) and (max-width: 412px) {
    .scheduler-top{
    margin-left: 35% !important;
    }
    .dhx_cal_navline{}
    .dhx_cal_tab{}
     .dhx_cal_tab_first{
    left: 0px !important;
    width: 30px !important;
    font-size: 11px !important;
}
    .dhx_cal_tab_last{
    width: 35px !important;
    left: 63px !important;
    font-size: 11px !IMPORTANT;
}
    .week_tab{
    right: auto !important;
    left: 30px !important;
    font-size: 11px !important;
    width: 32px !important;
}
 .dhx_cal_date{font-size: 7px !important;word-spacing: 0px !important;width: 100% !important;}
.dhx_cal_today_button{
    width: 35px !important;
    left: 198px;
    font-size: 11px !important;
}
.dhx_cal_prev_button{
    width: 20px !important;
    left: 238px;
}
.dhx_cal_next_button{
    width: 20px !important;
    right: 0;
}

}

@media (min-width: 413px) and (max-width: 575px) {
    .scheduler-top{margin-left: 37% !important;}
    .dhx_cal_navline{}
    .dhx_cal_tab{}
     .dhx_cal_tab_first{
    left: 0px !important;
    width: 35px !important;
    padding: 0px 0px;
}
    .dhx_cal_tab_last{
    width: 38px !important;
    left: 71px !important;
}
    .week_tab{
    right: auto !important;
    left: 35px !important;
    width: 35px !important;
}
 .dhx_cal_date{font-size: 10px !important;word-spacing: -1px !important;text-align: center !important;margin: 0px 11px;}
.dhx_cal_today_button{
    width: 40px !important;
    left: 230px;
}
.dhx_cal_prev_button{
    width: 20px !important;
    left: 276px;
}
.dhx_cal_next_button{
    width: 20px !important;
    right: 0;
}

}


/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) and (max-width: 767.98px) {
    
    .scheduler-top{
    margin-left: 33% !important;
    }
    .dhx_cal_navline{}
     .dhx_cal_date{}
    .dhx_cal_tab{}
    .dhx_cal_tab_first{}
    .dhx_cal_tab_last{}
    .week_tab{}
   
}

/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .dhx_cal_tab{}
    .dhx_cal_today_button{
    right: 115px !important;
}
     .dhx_cal_date{font-size: 15px !important;}

    
    .scheduler-top{
    margin-left: 43% !important;
    }
    .dhx_cal_navline{
    width: 590px !important;
}


}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1134px) {


    .scheduler-top{
    margin-left: 45% !important;
    }
    .dhx_cal_navline{}
    
}


@media (min-width: 1135px) and (max-width: 1199.98px) {

    .scheduler-top{
    margin-left: 33% !important;
    }
    .dhx_cal_navline{}
}

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) and (max-width: 1475px) {

    
    .scheduler-top{
    margin-left: 45% !important;
    }
    .dhx_cal_navline{}

}
